.impression {
  align-self: center;
  border: none;
  margin: 0;
  padding: 0;
}

.impression__legend {
  .font-bold;
  text-align: center;
}

.impression__list {
  list-style: none;
  padding: 0;
}

.impression__item {
  padding-top: 25px;
  padding-bottom: 20px;
}

.impression__item input {
  display: none;
}

.impression__item label {
  .font-bold;
  text-transform: none;
  position: relative;
  padding-left: 56px;
}

.impression__item label::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: -20px;
  left: -24px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.impression__item input:checked + label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -2px;
  left: -6px;
  border-radius: 50%;
  background-color: #000000;
}

@media (min-width: @tablet-width) {
  .impression {
    order: -2;
  }

  .impression::after {
    .form-tablet__line;
    width: 2px;
    height: 291px;
    right: 0;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .impression__legend {
    font-size: 22px;
    padding-left: 34px;
    padding-bottom: 38px;
  }

  .impression__list {
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .impression__item {
    margin-bottom: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .impression__item input {
    display: none;
  }

  .impression__item label {
    .font-bold;
    text-transform: none;
    position: relative;
    padding-left: 100px;
    outline: none;
  }

  .impression__item label::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    top: -12px;
    left: 42px;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  .impression__item input:checked + label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 6px;
    left: 60px;
    border-radius: 50%;
    background-color: #000000;
  }
}

@media (min-width: @desktop-width) {
  .impression {
    margin-left: 65px;
    padding-right: 133px;
  }

  .impression__legend {
    padding-left: 57px;
  }
}
