.introduce {
  align-self: center;
  padding: 0;
  margin: 0;
  border: none;
}

.introduse__legend {
  .font-bold;
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 6px;
}

.introduce__list {
  list-style: none;
  padding: 0;
}

.introduce__item {
  width: 280px;
  padding-bottom: 18px;
  display: flex;
}

.introduce__list label {
  .font;
  font-size: 14px;
  padding-top: 18px;
  padding-right: 15px;
}

.introduce__list input {
  border: none;
  height: 58px;
  background-color: #f2f2f2;
  padding-left: 23px;
}

.introduce__list input[placeholder] {
  .font-bold;
  text-transform: capitalize;
}

@media (min-width: @tablet-width) {
  .introduce {
    padding-right: 0;
  }

  .introduse__legend {
    font-size: 22px;
    padding-top: 11px;
    text-align: left;
  }

  .introduce__list {
    list-style: none;
    margin: 0;
    padding-top: 0px;
  }

  .introduce__item {
    width: 100%;
    padding-left: 0;
    padding-bottom: 18px;
    display: flex;
  }

  .introduce__list label {
    .font;
    font-size: 14px;
    padding-bottom: 17px;
  }

  .introduce__item label {
    margin-right: 17px;
    padding-right: 0;
  }

  .introduce__list input {
    border: none;
    height: 58px;
    background-color: #f2f2f2;
    padding-left: 23px;
  }

  .introduce__list input[placeholder] {
    .font-bold;
    text-transform: capitalize;
  }
}

@media (min-width: @desktop-width) {
  .introduce {
    margin-left: 20px;
  }

  .introduce__list input {
    width: 350px;
  }

  .introduse__legend {
    text-align: left;
    padding-left: 113px;
    padding-bottom: 40px;
  }
}
