.main-page__header-text {

  margin: 0 auto;
  margin-top: -32px;
  z-index: 3;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat 0 100%,
              url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0%;
}

.main-page__header-text img {
  padding-top: 90px;
  padding-bottom: 80px;
  padding-left: 18px;
}

@media (min-width: @tablet-width) {
  .main-page__header {
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .main-page__header-text {
    height: 539px;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat 0 96%,
                url("../img/bg-back-tablet@1x.jpg") no-repeat 0 2px;
  }

  .main-page__header-text img {
    padding-top: 75px;
    padding-left: 154px;
    width: 460px;
    height: 360px;
  }
}
