.main-photo-header__text {
  display: block;
  text-align: center;
  margin: 0;
  margin-top: -30px;
  padding-bottom: 65px;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat 50% 100%,
              url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 100%;
}

.main-photo-header__text img {
  padding-top: 50px;
}

@media (min-width: @tablet-width) {
  .main-photo-header__text {
    display: block;
    text-align: center;
    margin: 0;
    margin-top: -30px;
    padding-bottom: 138px;
    padding-top: 102px;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat 50% 100%,
                url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 100%;
  }

  .main-photo-header__text img {
    padding-top: 8px;
    padding-bottom: 0;
    transform: scale(2);
  }
}

@media (min-width: @desktop-width) {
  .main-photo-header__text {
    display: block;
    text-align: center;
    margin: 0;
    margin-top: -30px;
    padding-top: 121px;
    padding-bottom: 138px;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat 50% 100%,
                url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 100%;
  }

  .main-photo-header__text img {
    padding-top: 0;
    padding-bottom: 0;
    transform: scale(2.04);
  }
}
