.main-photo-header {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 100%;
  padding-top: 50px;
  margin-top: -30px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat 50% 100%;
  }
}

.main-photo-header__text {
  display: block;
  text-align: center;
  margin: 0;
  padding-bottom: 64px;
  background: url("../img/bg-intro-triangle-mobile.svg") no-repeat 50% 100%;
  background-size: 105%;
}

.main-photo-header__text img {
  padding-top: 0;
}

@media (min-width: @tablet-width) {
  .main-photo-header {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 100%;
    padding-top: 95px;
    margin-top: -30px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 100%;
    }
  }

  .main-photo-header__text {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 111px;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat 50% 100%;
    background-size: 105%;
  }

  .main-photo-header__text img {
    width: 458px;
    height: auto;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-photo-header {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 100%;
    padding-top: 101px;
    margin-top: -30px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/bg-back-desktop@2x.jpg") no-repeat 50% 100%;
    }
  }

  .main-photo-header__text {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 116px;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat 50% 100%;
  }

  .main-photo-header__text img {
    padding: 0;
    width: 461px;
    height: auto;
  }
}
