.page-header__logo {
  position: relative;
  z-index: 1;
  margin-left: 110px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    right: 394px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    right: 547px;
  }

  .page-header__logo img {
    width: 188px;
    height: 96px;
  }
}
