.review-form {
  display: block;
  text-align: center;
  padding-bottom: 76px;
}

@media (min-width: @tablet-width) {
  .review-form {
    margin-bottom: 60px;
    padding: 0;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .review-form {
    margin-bottom: 66px;
  }
}
