.review__title {
  .font-bold;
  text-align: center;
  padding-top: 24px;
}

.review__description {
  margin: 0;
  .font;
  line-height: 24px;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
}
