.review__title {
  .font-bold;
  text-align: center;
  margin: 0;
  padding-top: 39px;
  padding-bottom: 17px;
}

.review__description {
  margin: 0;
  .font;
  line-height: 24px;
  font-size: 14px;
  padding-top: 11px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .review {
    display: block;
    text-align: center;
  }

  .review__title {
    font-size: 30px;
    padding-top: 76px;
  }

  .review__description {
    padding-top: 15px;
    padding-bottom: 58px;
    padding-left: 160px;
    padding-right: 160px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .review__title {
    padding-top: 112px;
  }

  .review__description {
    padding-bottom: 32px;
    padding-left: 375px;
    padding-right: 375px;
  }
}
