.showplace {
  position: relative;
  align-self: center;
  border: none;
  margin: 0;
  padding: 0;
}

.showplace::before {
  .form-tablet__line;
  top: 0;
  width: 320px;
  left: 0;
}

.showplace__legend {
  .font-bold;
  text-align: center;
  padding-top: 19px;
  margin-bottom: 4px;
}

.showplace__list {
  list-style: none;
  padding-left: 0;
  text-align: left;
}

.showplace__item {
  position: relative;
  padding-top: 15px;
  padding-bottom: 38px;
}

.showplace__item input {
  display: none;
}

.showplace__item label {
  .font-bold;
  text-transform: none;
  outline: none;
  text-align: left;
  padding-left: 98px;
}

.showplace__item input:hover + label::before {
  background-color: #e5e5e5;
}

.showplace__item input:active + label::before,
.showplace__item input:focus + label::before {
  background-color: #d5d5d5;
}

.showplace__item input:active + label::after,
.showplace__item input:focus + label::after {
  opacity: 0.3;
}

.showplace__item label::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  left: 20px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.showplace__item input:checked + label::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  left: 20px;
  border-radius: 4px;
  background: url("../img/icon-tick.svg") no-repeat 50% 50%;
}

@media (min-width: @tablet-width) {
  .showplace {
    align-self: center;
    margin-top: -25px;
  }

  .showplace::before {
    content: none;
  }

  .showplace__item label {
    padding-left: 100px;
  }

  .showplace__legend {
    position: relative;
    font-size: 21px;
    padding-top: 48px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .showplace__legend::before {
    .form-tablet__line;
    right: 60px;
    bottom: 25px;
  }

  .showplace__legend::after {
    .form-tablet__line;
    left: 60px;
    bottom: 25px;
  }

  .showplace__list {
    width: 70%;
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-left: 0;
    justify-content: space-around;
  }

  .showplace__item {
    margin: 0;
  }

  .showplace__list li:last-child {
    margin-right: 0;
  }

  .showplace__list li:nth-child(3) {
    margin-left: 14px;
  }

  .showplace__list li:nth-child(4) {
    margin-left: 50px;
  }

  .showplace__red-rock {
    padding-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .showplace {
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 22px;
  }

  .showplace__legend {
    padding-top: 25px;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 16px;
  }

  .showplace__legend::before {
    .form-tablet__line;
    width: 280px;
    right: -21px;
    bottom: 25px;
  }

  .showplace__legend::after {
    .form-tablet__line;
    width: 280px;
    left: 21px;
    bottom: 25px;
  }

  .showplace__list li:nth-child(2) {
    margin-left: 55px;
  }

  .showplace__list li:nth-child(3) {
    margin-left: 50px;
  }

  .showplace__list li:nth-child(4) {
    margin-left: 35px;
  }

  .showplace__list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  .showplace__item {
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
  }

  .showplace__item label {
    padding-left: 80px;
  }

  .showplace__item label::before,
  .showplace__item input:checked + label::after {
    left: 0;
  }

  .showplace__list li:last-child label::before,
  .showplace__list li:last-child label::after {
    left: 0;
    top: 0;
  }
}
