.site-list__item {
  .font-bold;
  line-height: 40px;
  padding-top: 8px;
  padding-bottom: 6px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.site-list__item:first-child {
  border-top: none;
  padding-bottom: 7px;
}

.site-list__item:last-child {
  box-shadow: 0 -1px 7px 0 rgba(0, 0, 0, 0.2) inset;
}

.site-list__item a {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    padding-top: 15px;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 24px;
  }

  .site-list__item:last-child {
    box-shadow: none;
  }

  .site-list__item a {
    color: #000000;
  }
}
